In [1]:
#input statement
name=input("What is your name ")
print("My name is ",name)

What is your name sahasrabdi
My name is  sahasrabdi

In [2]:
#The os module is a part of the standard library, or stdlib, within Python 3.
#------------------------------------------------------------------------------
#pandas It presents a diverse range of utilities, ranging from parsing multiple file
#formats to converting an entire data table into a NumPy matrix array.(Python based analysis toolkit)

In [3]:
import pandas as pd
#method 1
#stats=pd.read_csv('Entire path to the file with the data set')
#method 2 :change the working directory
import os

In [18]:
print(os.getcwd())

C:\Users\SAHASRABDI\Desktop

In [17]:
os.chdir('C:\\Users\\SAHASRABDI\\Desktop')
#now jupyter will automatically look into the desktop

In [6]:
#now we can just write the name of the file and not the entire path
stats=pd.read_csv('population.csv')
#data has to be in the desktop according to the changed directory
#.gitignore the data set cause of the size which may cause problem in github

In [7]:
stats
#full data frame

,Country or Area,Internet Users,Population,Rank,Percentage,Rank.1
0,China,"76,53,67,947","1,40,95,17,397",1,54.30%,116
1,India,"46,13,47,554","1,33,91,80,127",2,34.45%,145
2,United States,"24,40,90,854","32,44,59,463",3,75.23%,68
3,Brazil,"14,12,06,801","20,92,88,278",4,67.47%,83
4,Japan,"11,58,45,120","12,74,84,450",5,90.87%,23
...,...,...,...,...,...,...
210,Falkland Islands,"2,881","2,910",211,99.02% (2016),-
211,Montserrat,"2,833","5,177",212,54.55% (2013),115
212,Wallis and Futuna,"1,383","11,773",213,8.95% (2012),-
213,Niue,"1,034","1,618",214,86.90% (2013),30
214,Ascension,361,806,215,41.03% (2012),-

In [9]:
#Number of rows
len(stats) #215 rows imported

215

In [10]:
#see columns
stats.columns

Index(['Country or Area', 'Internet Users', 'Population', 'Rank', 'Percentage',
       'Rank.1'],
      dtype='object')

In [11]:
#csv=comma separated values /allows data to be saved in tabular format

In [12]:
#number of colums
len(stats.columns)

6

In [13]:
#top row
stats.head() #remember the brackets
#if no value in the brackets then top 5
#we can add the number of rows

  Country or Area Internet Users      Population  Rank Percentage Rank.1
0           China   76,53,67,947  1,40,95,17,397     1     54.30%    116
1           India   46,13,47,554  1,33,91,80,127     2     34.45%    145
2   United States   24,40,90,854    32,44,59,463     3     75.23%     68
3          Brazil   14,12,06,801    20,92,88,278     4     67.47%     83
4           Japan   11,58,45,120    12,74,84,450     5     90.87%     23

In [15]:
#bottom rows
stats.tail()

       Country or Area Internet Users Population  Rank     Percentage Rank.1
210   Falkland Islands          2,881      2,910   211  99.02% (2016)      -
211         Montserrat          2,833      5,177   212  54.55% (2013)    115
212  Wallis and Futuna          1,383     11,773   213   8.95% (2012)      -
213               Niue          1,034      1,618   214  86.90% (2013)     30
214          Ascension            361        806   215  41.03% (2012)      -

In [16]:
#information on the columns
stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country or Area  215 non-null    object
 1   Internet Users   215 non-null    object
 2   Population       215 non-null    object
 3   Rank             215 non-null    int64
 4   Percentage       215 non-null    object
 5   Rank.1           215 non-null    object
dtypes: int64(1), object(5)
memory usage: 10.2+ KB

In [ ]:
#git push